In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [2]:
df_attr_combined = pd.read_csv('./Anno/changed/attr_combined.csv')

In [3]:
df_category_combined = pd.read_csv('./Anno/changed/category_combined.csv')
df_attr_cloth = pd.read_csv('./Anno/changed/list_attr_cloth.txt', sep = ',')

In [4]:
category_frequency= df_category_combined.groupby(['category_name'])['image_name'].count()
category_frequency_sort = category_frequency.sort_values(ascending=False)
print(category_frequency_sort)

category_name
Dress          72158
Tee            36887
Blouse         24557
Shorts         19666
Tank           15429
Skirt          14773
Cardigan       13311
Sweater        13123
Jacket         10467
Top            10078
Blazer          7495
Romper          7408
Jeans           7076
Jumpsuit        6153
Leggings        5013
Joggers         4416
Hoodie          4048
Sweatpants      3048
Kimono          2294
Coat            2120
Cutoffs         1669
Sweatshorts     1106
Poncho           791
Jersey           748
Henley           716
Parka            676
Jeggings         594
Chinos           527
Culottes         486
Trunks           386
Button-Down      330
Flannel          324
Bomber           309
Anorak           160
Robe             150
Turtleneck       146
Kaftan           126
Peacoat           97
Capris            77
Onesie            70
Caftan            54
Gauchos           49
Jodhpurs          45
Sarong            32
Coverup           17
Halter            17
Name: image_name, dtype: int64