In [39]:
import lxml.etree
import lxml.builder
import pandas as pd
import csv
import numpy as np

In [2]:
df_final= pd.read_csv('./Anno/changed/etri/final.csv')

In [56]:
df_ex = df_final.iloc[:15, :]

In [4]:
#ex.csv
file_name = "ex.csv"
df_ex.to_csv("./Anno/changed/etri/"+file_name, index=None)

In [5]:
df_ex.to_dict()

{'image_name': {12: '1981_Graphic_Ringer_Tee_img_00000014',
  13: '1981_Graphic_Ringer_Tee_img_00000015',
  14: '1981_Graphic_Ringer_Tee_img_00000016'},
 'category_name': {12: 'shirt', 13: 'shirt', 14: 'shirt'},
 'category_label': {12: 0, 13: 0, 14: 0},
 'striped': {12: -1, 13: 1, 14: -1},
 'floral': {12: -1, 13: -1, 14: -1},
 'dotted': {12: -1, 13: -1, 14: -1},
 'checker': {12: -1, 13: -1, 14: -1},
 'summer': {12: -1, 13: -1, 14: -1},
 'no sleeves': {12: -1, 13: -1, 14: -1},
 'long sleeves': {12: -1, 13: -1, 14: -1}}

In [66]:
df_ex

,image_name,category_name,category_label,striped,floral,dotted,checker,summer,no sleeves,long sleeves,pattern
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,1,-1,-1,-1,-1,-1,floral
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,1,-1,-1,-1,-1,-1,-1,striped
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,1,-1,-1,-1,-1,-1,floral
5,1981_Graphic_Ringer_Tee_img_00000007,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN
6,1981_Graphic_Ringer_Tee_img_00000008,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN
7,1981_Graphic_Ringer_Tee_img_00000009,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN
8,1981_Graphic_Ringer_Tee_img_00000010,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN
9,1981_Graphic_Ringer_Tee_img_00000011,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN
10,1981_Graphic_Ringer_Tee_img_00000012,shirt,0,1,-1,-1,-1,-1,-1,-1,striped
11,1981_Graphic_Ringer_Tee_img_00000013,shirt,0,1,-1,-1,-1,-1,-1,-1,striped
12,1981_Graphic_Ringer_Tee_img_00000014,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN
13,1981_Graphic_Ringer_Tee_img_00000015,shirt,0,1,-1,-1,-1,-1,-1,-1,striped
14,1981_Graphic_Ringer_Tee_img_00000016,shirt,0,-1,-1,-1,-1,-1,-1,-1,NaN

In [ ]:
for i in enumerate(len(df_ex)):
    if df_ex.get_valuet
    df_ex['striped'].get_values()

In [65]:
set_striped=set(df_ex.loc[df_ex['striped'] == 1]['image_name'])
set_floral = set(df_ex.loc[df_ex['floral'] == 1]['image_name'])
set_dotted = set(df_ex.loc[df_ex['dotted'] == 1]['image_name'])
set_checker = set(df_ex.loc[df_ex['checker'] == 1]['image_name'])

for i,img_name in enumerate(df_ex['image_name']):
    if img_name in set_striped:
        df_ex.loc[i, 'pattern'] = 'striped'
    elif img_name in set_floral:
        df_ex.loc[i, 'pattern'] = 'floral'
    elif img_name in set_dotted:
        df_ex.loc[i, 'pattern'] = 'dotted'
    elif img_name in set_checker:
        df_ex.loc[i, 'pattern'] = 'checker'

C:\Users\JSY\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [43]:
#set_striped

In [24]:
df_ex.loc[df_ex['striped'] == 1]

,image_name,category_name,category_label,striped,floral,dotted,checker,summer,no sleeves,long sleeves
13,1981_Graphic_Ringer_Tee_img_00000015,shirt,0,1,-1,-1,-1,-1,-1,-1

In [ ]:
df_ex['pattern'] = df_ex['pattern'].map()

In [6]:
# Stuff from the XML module
from xml.etree.ElementTree import Element, SubElement, tostring, ElementTree
from lxml import etree

# Topmost XML element
top = Element('top')
# Open a file
with open('./Anno/changed/etri/ex.csv') as csvfile:
    # And use a dictionary-reader
    for d in csv.DictReader(csvfile):
        # For each mapping in the dictionary
        for (k, v) in d.items():
            # Create an XML node
            child = SubElement(top, k)
            child.text = v
        tree.write(open('./Anno/changed/etri/' + 'file.xml','w'), encoding='unicode')
            
print(tostring(top).decode())
#string_xml=tostring(top).decode()
#print(etree.tostring(string_xml, pretty_print=True).decode())

NameError: name 'tree' is not defined

In [ ]:
with open(csv_file) as f:
    for row in csv.DictReader(f):
        top = Element('event')
        for k, v in row.items():
            child = SubElement(top, k)
            child.text = v
        print tostring(top)

In [ ]:
E = lxml.builder.ElementMaker()
ANNOTATION = E.annotation
OBJECT = E.object
ATTRIBUTES = E.attributes
CATEGORY= E.category
COLOR = E.colors
'''
GENDER = 
SLEEVES = 
SEASON = 
PATTERN = 
POSE = 
FIELD2 = E.field2
'''
the_doc = ANNOTATION(
        OBJECT(
            ATTRIBUTES('some value1'),
            )   
        )   

print (lxml.etree.tostring(the_doc, pretty_print=True,encoding='unicode'))

In [7]:
with open('./Anno/changed/etri/ex.csv') as f:
    for row in csv.DictReader(f):
        root = Element('gmd:MD_Metadata')
        tree = ElementTree(root)
        filename = row.items()[10]  # where 7 is the column your interested in
        for k, v in row.items():
            child = SubElement(root, k)
            child.text = v
            reader = csv.DictReader(f)
            tree.write(open(r'C:\Users\goodman\Desktop\deep_fashion_apply\Anno\changed\etri/' + filename  + '.xml','w'))
            #print tostring(root)

TypeError: 'odict_items' object does not support indexing