In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
df_final= pd.read_csv('./final_attr.csv')

In [3]:
df_bbox= pd.read_csv('./Anno/changed/etri/bbox.csv')

In [4]:
df_bbox.head()

                                image_name  x_1  y_1  x_2  y_2
0  Sheer_Pleated-Front_Blouse_img_00000001   72   79  232  273
1  Sheer_Pleated-Front_Blouse_img_00000002   67   59  155  161
2  Sheer_Pleated-Front_Blouse_img_00000003   65   65  156  200
3  Sheer_Pleated-Front_Blouse_img_00000004   51   62  167  182
4  Sheer_Pleated-Front_Blouse_img_00000005   46   88  166  262

In [5]:
df_final.head()

,image_name,category_name,pattern,colors,gender,season,sleeves
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,others,NaN,NaN,NaN,NaN
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,others,NaN,NaN,NaN,NaN
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,striped,NaN,NaN,NaN,NaN
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,NaN,NaN,NaN,NaN,NaN
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,others,NaN,NaN,NaN,NaN

In [6]:
df_final = df_final.fillna('')

In [7]:
df_final_bbox=pd.merge(df_final, df_bbox)

In [12]:
lst_img = df_final['image_name'].tolist()

In [21]:
len(lst_img)

241442

In [ ]:
for i,img in enumerate(lst_img):
    if '&' in lst_img:
        print(img[i])

In [8]:
#final_with_bbox.csv
file_name = "final_with_bbox.csv"
df_final_bbox.to_csv("./"+file_name, index=None)

In [9]:
df_final_bbox.head()

,image_name,category_name,pattern,colors,gender,season,sleeves,x_1,y_1,x_2,y_2
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,others,,,,,40,63,167,246
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,others,,,,,51,76,140,183
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,striped,,,,,25,68,147,200
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,,,,,,47,91,185,285
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,others,,,,,84,67,218,252

In [10]:
df_shirt = df_final_bbox.groupby('category_name').get_group('shirt')

In [11]:
df_coat = df_final_bbox.groupby('category_name').get_group('coat')

In [12]:
df_dress = df_final_bbox.groupby('category_name').get_group('dress')

In [13]:
df_jacket = df_final_bbox.groupby('category_name').get_group('jacket')

In [14]:
df_jumper = df_final_bbox.groupby('category_name').get_group('jumper')

In [15]:
df_pants = df_final_bbox.groupby('category_name').get_group('pants')

In [16]:
df_skirt = df_final_bbox.groupby('category_name').get_group('skirt')

In [17]:
df_winterJacket = df_final_bbox.groupby('category_name').get_group('winter jacket')

In [18]:
def convert_row(row):
    return """<?xml version="1.0" encoding="utf-8"?>
<annotation>
  <folder>{}</folder>
  <filename>{}</filename>
  <source>
    <database></database>
    <annotation></annotation>
    <image></image>
    <flickrid></flickrid> 
  </source>
  <owner>
    <flickrid></flickrid>
    <name></name>
  </owner>    
  <size>
    <width></width>
    <height></height>
    <depth>3</depth>
  </size>
  <segmented></segmented>
  <object>
    <name>{}</name>
    <pose></pose>
    <truncated></truncated>
    <difficult></difficult>
    <bndbox>
      <xmin>{}</xmin>
      <ymin>{}</ymin>
      <xmax>{}</xmax>
      <ymax>{}</ymax>
    </bndbox>
    <attributes>
        <colors>{}</colors>
        <gender>{}</gender>
        <season>{}</season>
        <sleeves>{}</sleeves>
        <pattern>{}</pattern>
        <leg_pose></leg_pose>
        <glasses></glasses>
    </attributes>
  </object>
</annotation>""".format(
        row.category_name,
        row.image_name,
        row.category_name,
        row.x_1,row.y_1,row.x_2,row.y_2,
        row.colors, row.gender,row.season,row.sleeves, row.pattern  
    )

#print ('\n\n'.join(df_shirt.apply(convert_row, axis=1)))
#shirt_final_xml = '\n\n'.join(df_shirt.apply(convert_row, axis=1))

## shirt

In [20]:
shirt_final_xml = '\n\n'.join(df_shirt.apply(convert_row, axis=1))
lst_shirt_final = []
lst_shirt_final = shirt_final_xml.split('\n\n')
lst_shirt_img = df_shirt['image_name'].tolist()

In [21]:
#shirt_final
for i, xml_file in enumerate(lst_shirt_final):
    with open("./shirt/"+lst_shirt_img[i]+'.xml', 'w') as f:
        f.write(xml_file)

## skirt

In [84]:
skirt_final_xml = '\n\n'.join(df_skirt.apply(convert_row, axis=1))
lst_skirt_final = []
lst_skirt_final = skirt_final_xml.split('\n\n')
lst_skirt_img = df_skirt['image_name'].tolist()

In [85]:
#skirt
for i, xml_file in enumerate(lst_skirt_final):
    with open("./xml/skirt/"+lst_skirt_img[i]+'.xml', 'w') as f:
        f.write(xml_file)

## coat

In [80]:
coat_final_xml = '\n\n'.join(df_coat.apply(convert_row, axis=1))
lst_coat_final = []
lst_coat_final = coat_final_xml.split('\n\n')
lst_coat_img = df_coat['image_name'].tolist()

In [81]:
#coat_final
for i, xml_file in enumerate(lst_coat_final):
    with open("./xml/coat/"+lst_coat_img[i]+'.xml', 'w') as f:
        f.write(xml_file)

## dress

In [22]:
dress_final_xml = '\n\n'.join(df_dress.apply(convert_row, axis=1))
lst_dress_final = []
lst_dress_final = dress_final_xml.split('\n\n')
lst_dress_img = df_dress['image_name'].tolist()

In [23]:
#dress_final
for i, xml_file in enumerate(lst_dress_final):
    with open("./dress/"+lst_dress_img[i]+'.xml', 'w') as f:
        f.write(xml_file)

## winter jacket

In [88]:
winterJacket_final_xml = '\n\n'.join(df_winterJacket.apply(convert_row, axis=1))
lst_winterJacket_final = []
lst_winterJacket_final = winterJacket_final_xml.split('\n\n')
lst_winterJacket_img = df_winterJacket['image_name'].tolist()

In [89]:
#winterJacket_final
for i, xml_file in enumerate(lst_winterJacket_final):
    with open("./xml/winter jacket/"+lst_winterJacket_img[i]+'.xml', 'w') as f:
        f.write(xml_file)

## jacket

In [90]:
jacket_final_xml = '\n\n'.join(df_jacket.apply(convert_row, axis=1))
lst_jacket_final = []
lst_jacket_final = jacket_final_xml.split('\n\n')
lst_jacket_img = df_jacket['image_name'].tolist()

In [91]:
#jacket_final
for i, xml_file in enumerate(lst_jacket_final):
    with open("./xml/jacket/"+lst_jacket_img[i]+'.xml', 'w') as f:
        f.write(xml_file)

## jumper

In [92]:
jumper_final_xml = '\n\n'.join(df_jumper.apply(convert_row, axis=1))
lst_jumper_final = []
lst_jumper_final = jumper_final_xml.split('\n\n')
lst_jumper_img = df_jumper['image_name'].tolist()

In [93]:
#jumper_final
for i, xml_file in enumerate(lst_jumper_final):
    with open("./xml/jumper/"+lst_jumper_img[i]+'.xml', 'w') as f:
        f.write(xml_file)

## pants

In [94]:
pants_final_xml = '\n\n'.join(df_pants.apply(convert_row, axis=1))
lst_pants_final = []
lst_pants_final = pants_final_xml.split('\n\n')
lst_pants_img = df_pants['image_name'].tolist()

In [95]:
#pants_final
for i, xml_file in enumerate(lst_pants_final):
    with open("./xml/pants/"+lst_pants_img[i]+'.xml', 'w') as f:
        f.write(xml_file)

In [42]:
len(df_final_bbox)

241442

In [43]:
len(df_final)

241442