In [8]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt

import os, glob

In [3]:
df_category_combined_etri = pd.read_csv('./Anno/changed/etri/category_combined.csv')

In [2]:
df_attr_combined_etri = pd.read_csv('./Anno/changed/etri/attr_combined.csv')

In [4]:
df_attr_combined_etri.head()

,image_name,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,abstract geo,abstract geo print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,Sheer_Pleated-Front_Blouse_img_00000001,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,Sheer_Pleated-Front_Blouse_img_00000002,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,Sheer_Pleated-Front_Blouse_img_00000003,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Sheer_Pleated-Front_Blouse_img_00000004,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Sheer_Pleated-Front_Blouse_img_00000005,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [5]:
df_category_combined_etri.head()

,category_label,category_name,category_type,image_name
0,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000001
1,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000002
2,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000003
3,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000004
4,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000005

In [82]:
lst_coat_fname = [f.name[:-4] for f in os.scandir('./coat') if f.is_file()]
lst_dress_fname = [f.name[:-4] for f in os.scandir('./dress') if f.is_file()]
lst_jacket_fname = [f.name[:-4] for f in os.scandir('./jacket') if f.is_file()]
lst_jumper_fname = [f.name[:-4] for f in os.scandir('./jumper') if f.is_file()]
lst_pants_fname = [f.name[:-4] for f in os.scandir('./pants') if f.is_file()]
lst_shirt_fname = [f.name[:-4] for f in os.scandir('./shirt') if f.is_file()]
lst_skirt_fname = [f.name[:-4] for f in os.scandir('./skirt') if f.is_file()]
lst_winterJacket_fname = [f.name[:-4] for f in os.scandir('./winter jacket') if f.is_file()]

In [89]:
df_coat_etri = pd.DataFrame(lst_coat_fname, columns=['image_name'])
df_coat_etri.insert(1,'category_label', 5)
df_coat_etri.insert(1,'category_name', 'Coat')

In [90]:
df_coat_etri.head()

                      image_name category_name  category_label
0  Plaid_Woven_Coat_img_00000001          Coat               5
1  Plaid_Woven_Coat_img_00000002          Coat               5
2  Plaid_Woven_Coat_img_00000003          Coat               5
3  Plaid_Woven_Coat_img_00000004          Coat               5
4  Plaid_Woven_Coat_img_00000005          Coat               5

In [106]:
def createCategoryDataFrame(lst_category_fname, category_label, category_name):
    
    df_category_etri = pd.DataFrame(lst_category_fname, columns=['image_name'])
    df_category_etri.insert(1,'category_label', category_label)
    df_category_etri.insert(1,'category_name', category_name)

    return df_category_etri

In [107]:
df_shirt_etri = createCategoryDataFrame(lst_shirt_fname, 0, 'Shirt')
df_jumper_etri = createCategoryDataFrame(lst_jumper_fname, 1, 'Jumper')
df_jacket_etri = createCategoryDataFrame(lst_jacket_fname, 2, 'Jacket')
#df_vest_etri = createCategoryDataFrame(lst_vest_fname, 3, 'Vest')
df_winterJacket_etri = createCategoryDataFrame(lst_winterJacket_fname, 4, 'Winter jacket')
df_coat_etri = createCategoryDataFrame(lst_coat_fname, 5, 'Coat')
df_dress_etri = createCategoryDataFrame(lst_dress_fname, 6, 'Dress')
df_pants_etri = createCategoryDataFrame(lst_pants_fname, 7, 'Pants')
df_skirt_etri = createCategoryDataFrame(lst_skirt_fname, 8, 'Skirt')

In [110]:
df_shirt_etri.head()

                             image_name category_name  category_label
0  1981_Graphic_Ringer_Tee_img_00000001         Shirt               0
1  1981_Graphic_Ringer_Tee_img_00000002         Shirt               0
2  1981_Graphic_Ringer_Tee_img_00000003         Shirt               0
3  1981_Graphic_Ringer_Tee_img_00000004         Shirt               0
4  1981_Graphic_Ringer_Tee_img_00000005         Shirt               0

In [111]:
df_jumper_etri.head()

                                 image_name category_name  category_label
0  Hooded_Cotton_Canvas_Anorak_img_00000001        Jumper               1
1  Hooded_Cotton_Canvas_Anorak_img_00000002        Jumper               1
2  Hooded_Cotton_Canvas_Anorak_img_00000003        Jumper               1
3  Hooded_Cotton_Canvas_Anorak_img_00000004        Jumper               1
4  Hooded_Cotton_Canvas_Anorak_img_00000005        Jumper               1