In [8]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt

import os, glob

In [119]:
df_category_combined = pd.read_csv('./Anno/changed/etri/category_combined.csv')

In [120]:
df_attr_combined = pd.read_csv('./Anno/changed/etri/attr_combined.csv')

In [121]:
df_attr_combined.head()

,image_name,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,abstract geo,abstract geo print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,Sheer_Pleated-Front_Blouse_img_00000001,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,Sheer_Pleated-Front_Blouse_img_00000002,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,Sheer_Pleated-Front_Blouse_img_00000003,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Sheer_Pleated-Front_Blouse_img_00000004,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Sheer_Pleated-Front_Blouse_img_00000005,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [122]:
df_category_combined.head()

,category_label,category_name,category_type,image_name
0,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000001
1,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000002
2,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000003
3,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000004
4,1,Anorak,1,Hooded_Cotton_Canvas_Anorak_img_00000005

In [123]:
lst_coat_fname = [f.name[:-4] for f in os.scandir('./coat') if f.is_file()]
lst_dress_fname = [f.name[:-4] for f in os.scandir('./dress') if f.is_file()]
lst_jacket_fname = [f.name[:-4] for f in os.scandir('./jacket') if f.is_file()]
lst_jumper_fname = [f.name[:-4] for f in os.scandir('./jumper') if f.is_file()]
lst_pants_fname = [f.name[:-4] for f in os.scandir('./pants') if f.is_file()]
lst_shirt_fname = [f.name[:-4] for f in os.scandir('./shirt') if f.is_file()]
lst_skirt_fname = [f.name[:-4] for f in os.scandir('./skirt') if f.is_file()]
lst_winterJacket_fname = [f.name[:-4] for f in os.scandir('./winter jacket') if f.is_file()]

In [124]:
df_coat.head()

                      image_name
0  Plaid_Woven_Coat_img_00000001
1  Plaid_Woven_Coat_img_00000002
2  Plaid_Woven_Coat_img_00000003
3  Plaid_Woven_Coat_img_00000004
4  Plaid_Woven_Coat_img_00000005

In [125]:
def createCategoryDataFrame(lst_category_fname, category_label, category_name):
    
    df_category = pd.DataFrame(lst_category_fname, columns=['image_name'])
    df_category.insert(1,'category_label', category_label)
    df_category.insert(1,'category_name', category_name)

    return df_category

In [126]:
df_shirt = createCategoryDataFrame(lst_shirt_fname, 0, 'Shirt')
df_jumper = createCategoryDataFrame(lst_jumper_fname, 1, 'Jumper')
df_jacket = createCategoryDataFrame(lst_jacket_fname, 2, 'Jacket')
#df_vest = createCategoryDataFrame(lst_vest_fname, 3, 'Vest')
df_winterJacket = createCategoryDataFrame(lst_winterJacket_fname, 4, 'Winter jacket')
df_coat = createCategoryDataFrame(lst_coat_fname, 5, 'Coat')
df_dress = createCategoryDataFrame(lst_dress_fname, 6, 'Dress')
df_pants = createCategoryDataFrame(lst_pants_fname, 7, 'Pants')
df_skirt = createCategoryDataFrame(lst_skirt_fname, 8, 'Skirt')

In [127]:
df_shirt.head()

                             image_name category_name  category_label
0  1981_Graphic_Ringer_Tee_img_00000001         Shirt               0
1  1981_Graphic_Ringer_Tee_img_00000002         Shirt               0
2  1981_Graphic_Ringer_Tee_img_00000003         Shirt               0
3  1981_Graphic_Ringer_Tee_img_00000004         Shirt               0
4  1981_Graphic_Ringer_Tee_img_00000005         Shirt               0

In [128]:
df_jumper.head()

                                 image_name category_name  category_label
0  Hooded_Cotton_Canvas_Anorak_img_00000001        Jumper               1
1  Hooded_Cotton_Canvas_Anorak_img_00000002        Jumper               1
2  Hooded_Cotton_Canvas_Anorak_img_00000003        Jumper               1
3  Hooded_Cotton_Canvas_Anorak_img_00000004        Jumper               1
4  Hooded_Cotton_Canvas_Anorak_img_00000005        Jumper               1

In [131]:
df_shirt_attr_combined = pd.merge(df_shirt, df_attr_combined)
df_jumper_attr_combined = pd.merge(df_jumper, df_attr_combined)
df_jacket_attr_combined = pd.merge(df_jacket, df_attr_combined)
df_winterJacket_attr_combined = pd.merge(df_winterJacket, df_attr_combined)
df_coat_attr_combined = pd.merge(df_coat, df_attr_combined)
df_dress_attr_combined = pd.merge(df_dress, df_attr_combined)
df_pants_attr_combined = pd.merge(df_pants, df_attr_combined)
df_skirt_attr_combined = pd.merge(df_skirt, df_attr_combined)

In [132]:
df_winterJacket_attr_combined.head()

,image_name,category_name,category_label,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,Corduroy_Hooded_Parka_img_00000001,Winter jacket,4,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,Corduroy_Hooded_Parka_img_00000002,Winter jacket,4,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,Corduroy_Hooded_Parka_img_00000003,Winter jacket,4,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Corduroy_Hooded_Parka_img_00000004,Winter jacket,4,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Corduroy_Hooded_Parka_img_00000005,Winter jacket,4,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1