In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import random

In [249]:
df_dropped_attr_category_combined = pd.read_csv('./Anno/changed/etri/dropped_attr_category_combined.csv')

In [3]:
df_final= pd.read_csv('./Anno/changed/etri/final.csv')

In [340]:
df_attr_category_combined = pd.read_csv('./Anno/changed/etri/attr_category_combined.csv')

In [5]:
df_skirt_attr_combined = pd.read_csv('./Anno/changed/etri/skirt_attr_combined.csv')

In [222]:
df_pants_attr_combined = pd.read_csv('./Anno/changed/etri/pants_attr_combined.csv')

In [7]:
def plotRandomImage(attribute, img_num, df):
    print(attribute+'attribute')
    img_files = []
    dict_imgs = dict(zip(df.loc[df[attribute] == 1]['image_name'], df.loc[df[attribute] == 1]['category_name']))
    print(str(len(dict_imgs))+' images')
    lst_rand_imgs = random.sample(list(dict_imgs.items()), img_num)
    
    for tuple_img in lst_rand_imgs:
        img=mpimg.imread('./'+tuple_img[1]+'/'+tuple_img[0]+'.jpg')
        img_files.append(img)
    
    col_num = 4
    row_num = ((img_num // col_num)+1) if (img_num % col_num) != 0 else (img_num // col_num)
    
    fig, axes = plt.subplots(nrows=row_num, ncols=col_num, figsize=(20,20))
    
    for idx, img_file in enumerate(img_files):
        row = idx // col_num
        col = idx % col_num
        
        axes[row, col].axis("off")
        axes[row, col].imshow(img_file, cmap="gray", aspect="auto")

    plt.subplots_adjust(wspace=.05, hspace=.05)

    plt.show()

In [93]:
[col for col in df_skirt_attr_combined if 'long' in col]

['knit longline ',
 'long sleeve ',
 'long-sleeve ',
 'long-sleeved ',
 'longline ',
 'longline shirt ']

In [9]:
[col for col in df_pants_attr_combined if 'long' in col]

['knit longline ',
 'long sleeve ',
 'long-sleeve ',
 'long-sleeved ',
 'longline ',
 'longline shirt ']

In [97]:
#plotRandomImage( 'longline shirt ', 28, df_skirt_attr_combined) #not

In [12]:
#plotRandomImage( 'longline ', 8,df_pants_attr_combined) #no

In [13]:
[col for col in df_dropped_attr_category_combined if 'print' in col]

['abstract chevron print ',
 'abstract geo print ',
 'abstract print ',
 'abstract printed ',
 'animal print ',
 'bandana print ',
 'baroque print ',
 'bird print ',
 'botanical print ',
 'brushstroke print ',
 'butterfly print ',
 'chevron print ',
 'daisy print ',
 'diamond print ',
 'elephant print ',
 'folk print ',
 'geo print ',
 'giraffe print ',
 'grid print ',
 'heart print ',
 'ikat print ',
 'kaleidoscope print ',
 'lace print ',
 'leaf print ',
 'leopard print ',
 'mandala print ',
 'marble print ',
 'medallion print ',
 'mixed print ',
 'mosaic print ',
 'ornate print ',
 'paisley print ',
 'palm print ',
 'print ',
 'print racerback ',
 'print satin ',
 'print scuba ',
 'print shift ',
 'print shirt ',
 'print skater ',
 'print smock ',
 'print smocked ',
 'print strapless ',
 'print strappy ',
 'print surplice ',
 'print tulip ',
 'print v-neck ',
 'print woven ',
 'printed ',
 'southwestern-print ']

In [14]:
#plotRandomImage( 'print ', 28, df_dropped_attr_category_combined)

## others(print)

In [15]:
#plotRandomImage( 'abstract chevron print ', 28, df_dropped_attr_category_combined)

In [16]:
#plotRandomImage( 'mixed print ', 28, df_dropped_attr_category_combined)

In [17]:
df_attr_category_combined.head()

,image_name,category_name,category_label,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [18]:
len( set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_final['floral'] == 1]['image_name']))

7309

In [19]:
len( set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_final['striped'] == 1]['image_name']))

1052

In [20]:
len( set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_final['dotted'] == 1]['image_name']))

548

In [21]:
len( set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_final['checker'] == 1]['image_name']))

53

In [22]:
len(set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name']))

29160

In [23]:
len(df_attr_category_combined.loc[df_attr_category_combined['printed '] == 1])

5287

In [24]:
len(set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_attr_category_combined['printed '] == 1]['image_name']))

838

In [25]:
df_final.head()

,image_name,category_name,category_label,striped,floral,dotted,checker,summer,no sleeves,long sleeves
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,1,-1,-1,-1,-1,-1

In [26]:
#plotRandomImage( 'print ', 28,(df_dropped_attr_category_combined.loc[df_dropped_attr_category_combined['print '] == 1]) )

## floral

In [27]:
#plotRandomImage( 'daisy print ', 28, df_dropped_attr_category_combined)

In [28]:
[col for col in df_dropped_attr_category_combined if 'rose' in col]

['rose ', 'rose skater ', 'roses ']

In [29]:
#plotRandomImage( 'botanical print ', 28, df_dropped_attr_category_combined)

In [30]:
#plotRandomImage( 'rose ', 28, df_dropped_attr_category_combined)

In [31]:
#plotRandomImage( 'roses ', 28, df_dropped_attr_category_combined)

In [32]:
#plotRandomImage( 'rose skater ', 6, df_dropped_attr_category_combined)

In [33]:
#plotRandomImage( 'print tulip ', 28, df_dropped_attr_category_combined)

In [34]:
#plotRandomImage( 'botanical ', 28, df_dropped_attr_category_combined)

## checker

In [35]:
#plotRandomImage( 'checker', 28, df_dropped_attr_category_combined)

In [36]:
#plotRandomImage( 'grid print ', 28, df_dropped_attr_category_combined)

In [37]:
#plotRandomImage( 'grid ', 28, df_dropped_attr_category_combined)

## long

In [296]:
[col for col in df_skirt_attr_combined if 'maxi' in col]

['belted maxi ',
 'cami maxi ',
 'chiffon maxi ',
 'combo maxi ',
 'crochet maxi ',
 'cutout maxi ',
 'embroidered maxi ',
 'floral maxi ',
 'flounce maxi ',
 'gauze maxi ',
 'high-slit maxi ',
 'hooded maxi ',
 'knit maxi ',
 'lace maxi ',
 'm-slit maxi ',
 'maxi ']

In [297]:
[col for col in df_pants_attr_combined if 'maxi' in col]

['belted maxi ',
 'cami maxi ',
 'chiffon maxi ',
 'combo maxi ',
 'crochet maxi ',
 'cutout maxi ',
 'embroidered maxi ',
 'floral maxi ',
 'flounce maxi ',
 'gauze maxi ',
 'high-slit maxi ',
 'hooded maxi ',
 'knit maxi ',
 'lace maxi ',
 'm-slit maxi ',
 'maxi ']

In [298]:
#plotRandomImage( 'big ', 21, df_skirt_attr_combined) #no

In [160]:
#plotRandomImage( 'maxi ', 28, df_skirt_attr_combined)

In [159]:
#plotRandomImage( 'longline ', 17,df_skirt_attr_combined)

In [158]:
#plotRandomImage( 'chiffon maxi ', 28,df_skirt_attr_combined)

In [156]:
#plotRandomImage( 'belted maxi ', 28,df_skirt_attr_combined)

In [154]:
#plotRandomImage( 'cami maxi ', 28,df_skirt_attr_combined) #no

In [152]:
#plotRandomImage( 'combo maxi ', 28,df_skirt_attr_combined)

In [150]:
#plotRandomImage( 'crochet maxi ', 7,df_skirt_attr_combined)

In [149]:
#plotRandomImage( 'cutout maxi ', 4, df_skirt_attr_combined)

In [147]:
#plotRandomImage( 'embroidered maxi ', 2,df_skirt_attr_combined)

In [145]:
#plotRandomImage( 'floral maxi ', 28,df_skirt_attr_combined)

In [144]:
#plotRandomImage( 'flounce maxi ', 28,df_skirt_attr_combined)

In [143]:
#plotRandomImage( 'gauze maxi ', 11,df_skirt_attr_combined)

In [142]:
#plotRandomImage( 'high-slit maxi ', 8,df_skirt_attr_combined)

In [138]:
#plotRandomImage( 'hooded maxi ', 28,df_skirt_attr_combined) #no

In [139]:
#plotRandomImage( 'knit maxi ', 28,df_skirt_attr_combined)

In [140]:
#plotRandomImage( 'lace maxi ', 28,df_skirt_attr_combined)

In [141]:
#plotRandomImage( 'm-slit maxi ', 28,df_skirt_attr_combined)

In [341]:
df_skirt_attr_combined_temp = df_skirt_attr_combined.iloc[:, :3]

In [342]:
df_skirt_attr_combined_temp.head()

,image_name,category_name,category_label
0,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8
1,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8
2,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8
3,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8
4,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8

In [343]:
lst_long_skirt = ['belted maxi ',
 'chiffon maxi ',
 'combo maxi ',
 'crochet maxi ',
 'cutout maxi ',
 'embroidered maxi ',
 'floral maxi ',
 'flounce maxi ',
 'gauze maxi ',
 'high-slit maxi ',
 'knit maxi ',
 'lace maxi ',
 'm-slit maxi ',
 'maxi ', 'longline ']

In [344]:
if 'temp' in df_skirt_attr_combined:
    df_skirt_attr_combined = df_skirt_attr_combined.drop(['temp'], axis=1)
    
df_skirt_attr_combined.insert(loc=0,
                              column='temp',
                              value=((df_skirt_attr_combined[lst_long_skirt[0]] == 1) | (df_skirt_attr_combined[lst_long_skirt[1]] == 1)).astype(int).replace(0, -1)
                             )

#print(set((df_skirt_attr_combined['temp'] == 1)))

for i in range(2,len(lst_long_skirt)):
    df_skirt_attr_combined['temp'] = ((df_skirt_attr_combined['temp'] == 1) | (df_skirt_attr_combined[lst_long_skirt[i]] == 1)).astype(int).replace(0, -1)
    #print(set((df_skirt_attr_combined['temp'] == 1)))

df_skirt_attr_combined_temp.insert(loc = 2,column='long', value= (df_skirt_attr_combined['temp']))

df_skirt_attr_combined = df_skirt_attr_combined.drop(['temp'], axis=1)

In [345]:
df_skirt_attr_combined_temp.head()

,image_name,category_name,long,category_label
0,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,-1,8
1,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,-1,8
2,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,-1,8
3,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,1,8
4,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,-1,8

In [346]:
df_attr_category_combined.insert(3, 'long',np.NaN )

In [347]:
df_attr_category_combined.head()

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [348]:
set_long_name=set(df_skirt_attr_combined_temp.loc[df_skirt_attr_combined_temp['long'] == 1]['image_name'])

In [349]:
for i,img_name in enumerate(df_attr_category_combined['image_name']):
    #print(i)
    if img_name in set_long_name:
        #print(img_name)
        #print(df_attr_category_combined.index[i])
        #(df_attr_category_combined.loc[df_attr_category_combined['image_name'] == img_name]['long']) = 1
        df_attr_category_combined.loc[i,'long'] = 1

In [351]:
df_attr_category_combined.loc[df_attr_category_combined['image_name'] == 'Abstract_Brushstroke_Print_Pencil_Skirt_img_00000004']

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
230526,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8,1.0,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [352]:
df_attr_category_combined.head()

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [353]:
df_attr_category_combined.fillna(value = -1, inplace = True)

In [354]:
df_attr_category_combined.head()

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [355]:
df_attr_category_combined['long'] = df_attr_category_combined['long'].astype(int)

In [356]:
df_attr_category_combined.head()

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

## short

In [251]:
df_attr_category_combined_temp = df_attr_category_combined

In [252]:
df_attr_category_combined_temp.set_index('image_name', inplace= True)

In [253]:
lst_short = df_attr_category_combined.filter(like='Shorts', axis=0).index.tolist()

In [254]:
lst_short.append(df_attr_category_combined.filter(like='shorts', axis=0).index.tolist())
lst_short.append(df_attr_category_combined.filter(like='Trunk', axis=0).index.tolist())

In [255]:
len(lst_short)

3308

In [256]:
df_short = df_attr_category_combined_temp[df_attr_category_combined_temp.index.isin(lst_short)]

In [263]:
#len(df_long_pants)

In [264]:
#len(df_pants_attr_combined)

In [265]:
#df_long_pants.head()

In [266]:
df_short.head()

,category_name,category_label,short,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
image_name,,,,,,,,,,,,,,,,,,,,,
Baroque_Print_Drawstring_Shorts_img_00000001,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000002,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000003,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000005,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000007,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [267]:
df_short.insert(2,  'short', value=1)

ValueError: cannot insert short, already exists

In [268]:
df_short.head()

,category_name,category_label,short,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
image_name,,,,,,,,,,,,,,,,,,,,,
Baroque_Print_Drawstring_Shorts_img_00000001,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000002,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000003,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000005,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000007,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [269]:
df_short.reset_index(inplace=True)

In [270]:
df_attr_category_combined_temp.reset_index(inplace=True)

In [271]:
df_attr_category_combined = df_attr_category_combined_temp.merge(df_short, how='outer')
df_attr_category_combined['short'].fillna(value = -1, inplace = True)
df_attr_category_combined['short'] = df_attr_category_combined['short'].astype(int)

In [274]:
[col for col in df_skirt_attr_combined if 'mini' in col]

['faux leather mini ',
 'floral lace mini ',
 'floral mini ',
 'knit mini ',
 'lace mini ',
 'leather mini ',
 'mini ']

In [275]:
# plotRandomImage( 'faux leather mini ', 28,df_skirt_attr_combined)

In [140]:
#plotRandomImage( 'floral lace mini ', 28,df_skirt_attr_combined)

In [141]:
#plotRandomImage( 'floral mini ', 28,df_skirt_attr_combined)

In [142]:
#plotRandomImage( 'knit mini ', 28,df_skirt_attr_combined)

In [143]:
#plotRandomImage( 'lace mini ', 28,df_skirt_attr_combined)

In [144]:
#plotRandomImage( 'leather mini ', 28,df_skirt_attr_combined)

In [145]:
#plotRandomImage( 'mini ', 28,df_skirt_attr_combined)

## Merge

In [147]:
df_final_temp = df_attr_category_combined.iloc[:,:3]

In [148]:
df_final_temp.head()

                             image_name category_name  category_label
0  1981_Graphic_Ringer_Tee_img_00000001         shirt               0
1  1981_Graphic_Ringer_Tee_img_00000002         shirt               0
2  1981_Graphic_Ringer_Tee_img_00000003         shirt               0
3  1981_Graphic_Ringer_Tee_img_00000004         shirt               0
4  1981_Graphic_Ringer_Tee_img_00000005         shirt               0

In [149]:
def mergeColumns(col1, col2) :
    return ((df_attr_category_combined[col1] == 1) | (df_attr_category_combined[col2] == 1)).astype(int).replace(0, -1)

In [150]:
def addMergedMultipleColumns(lst_attr, merged_col):
    
    global df_attr_category_combined
    
    if 'temp' in df_attr_category_combined:
        df_attr_category_combined = df_attr_category_combined.drop(['temp'], axis=1)
    
    df_attr_category_combined.insert(loc=0, column='temp', value=mergeColumns(lst_attr[0], lst_attr[1]))

    for i in range(2,len(lst_attr)):
        df_attr_category_combined['temp'] = mergeColumns('temp', lst_attr[i])
    
    df_final_temp.insert(loc = 3,column=merged_col, value=df_attr_category_combined['temp'])
    
    df_attr_category_combined = df_attr_category_combined.drop(['temp'], axis=1)

In [151]:
def mergeMultipleColumns(lst_attr, merged_col):

    global df_attr_category_combined

    if 'temp' in df_attr_category_combined:
        df_attr_category_combined = df_attr_category_combined.drop(['temp'], axis=1)
 
    df_attr_category_combined.insert(loc=0, column='temp', value=mergeColumns(lst_attr[0], lst_attr[1]))

    for i in range(2,len(lst_attr)):
        df_attr_category_combined['temp'] = mergeColumns('temp', lst_attr[i])
    
    df_final.insert(loc = 3,column=merged_col, value=df_attr_category_combined['temp'])
    
    df_attr_category_combined = df_attr_category_combined.drop(['temp'], axis=1)

## New columns

#### long

In [357]:
df_short.head()

,image_name,category_name,category_label,short,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,Baroque_Print_Drawstring_Shorts_img_00000001,pants,7,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,Baroque_Print_Drawstring_Shorts_img_00000002,pants,7,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,Baroque_Print_Drawstring_Shorts_img_00000003,pants,7,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Baroque_Print_Drawstring_Shorts_img_00000005,pants,7,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Baroque_Print_Drawstring_Shorts_img_00000007,pants,7,1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [358]:
df_pants_attr_combined.head()

,image_name,category_name,category_label,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,Abstract-Printed_Capri_Leggings_img_00000001,pants,7,-1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,Abstract-Printed_Capri_Leggings_img_00000002,pants,7,-1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,Abstract-Printed_Capri_Leggings_img_00000003,pants,7,-1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Abstract-Printed_Capri_Leggings_img_00000004,pants,7,-1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Abstract-Printed_Capri_Leggings_img_00000005,pants,7,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [359]:
df_long_pants = df_pants_attr_combined[~df_pants_attr_combined['image_name'].isin(lst_short)]

In [360]:
df_long_pants.head()

,image_name,category_name,category_label,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,Abstract-Printed_Capri_Leggings_img_00000001,pants,7,-1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,Abstract-Printed_Capri_Leggings_img_00000002,pants,7,-1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,Abstract-Printed_Capri_Leggings_img_00000003,pants,7,-1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Abstract-Printed_Capri_Leggings_img_00000004,pants,7,-1,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Abstract-Printed_Capri_Leggings_img_00000005,pants,7,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [366]:
df_long_pants.insert(3, 'long', 1)

In [370]:
len(set(df_long_pants.loc[df_long_pants['long'] == 1]['image_name']))

22412

In [369]:
set_long_pants_name=set(df_long_pants.loc[df_long_pants['long'] == 1]['image_name'])
for i,img_name in enumerate(df_attr_category_combined['image_name']):
    #print(i)
    if img_name in set_long_pants_name:
        #print(img_name)
        #print(i)
        #print(df_attr_category_combined.index[i])
        #(df_attr_category_combined.loc[df_attr_category_combined['image_name'] == img_name]['long']) = 1
        df_attr_category_combined.loc[i,'long'] = 1

In [371]:
df_attr_category_combined.loc[df_attr_category_combined['image_name'] == 'Abstract-Printed_Capri_Leggings_img_00000001']

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
204805,Abstract-Printed_Capri_Leggings_img_00000001,pants,7,1,-1,1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [374]:
df_final.insert(loc = 3,column='long', value=df_attr_category_combined['long'])

#### short

In [152]:
lst_short = ['faux leather mini ',
 'floral lace mini ',
 'floral mini ',
 'knit mini ',
 'lace mini ',
 'leather mini ',
 'mini ', 'short']
mergeMultipleColumns(lst_short, 'short')

#### floral

In [153]:
lst_floral = ['daisy print ', 'botanical print ', 'rose ', 'roses ', 'rose skater ', 'print tulip ', 'botanical ']
addMergedMultipleColumns(lst_floral, 'floral')

#### checker

In [154]:
lst_checker = ['grid print ','grid ']
addMergedMultipleColumns(lst_checker, 'checker')

## Adding existing columns

In [155]:
df_final.drop(['checker', 'floral'], axis=1, inplace= True)

In [156]:
df_final['floral'], df_final['checker'] = [df_final_temp['floral'], df_final_temp['checker']]

In [157]:
df_final.head()

,image_name,category_name,category_label,short,striped,dotted,summer,no sleeves,long sleeves,floral,checker
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,-1,1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1

In [158]:
df_final.groupby

<bound method NDFrame.groupby of                                   image_name category_name  category_label  \
0       1981_Graphic_Ringer_Tee_img_00000001         shirt               0
1       1981_Graphic_Ringer_Tee_img_00000002         shirt               0
2       1981_Graphic_Ringer_Tee_img_00000003         shirt               0
3       1981_Graphic_Ringer_Tee_img_00000004         shirt               0
4       1981_Graphic_Ringer_Tee_img_00000005         shirt               0
5       1981_Graphic_Ringer_Tee_img_00000007         shirt               0
6       1981_Graphic_Ringer_Tee_img_00000008         shirt               0
7       1981_Graphic_Ringer_Tee_img_00000009         shirt               0
8       1981_Graphic_Ringer_Tee_img_00000010         shirt               0
9       1981_Graphic_Ringer_Tee_img_00000011         shirt               0
10      1981_Graphic_Ringer_Tee_img_00000012         shirt               0
11      1981_Graphic_Ringer_Tee_img_00000013         shirt               0
12      1981_Graphic_Ringer_Tee_img_00000014         shirt               0
13      1981_Graphic_Ringer_Tee_img_00000015         shirt               0
14      1981_Graphic_Ringer_Tee_img_00000016         shirt               0
15      1981_Graphic_Ringer_Tee_img_00000017         shirt               0
16      1981_Graphic_Ringer_Tee_img_00000018         shirt               0
17      1981_Graphic_Ringer_Tee_img_00000019         shirt               0
18      1981_Graphic_Ringer_Tee_img_00000020         shirt               0
19      1981_Graphic_Ringer_Tee_img_00000021         shirt               0
20      1981_Graphic_Ringer_Tee_img_00000022         shirt               0
21      1981_Graphic_Ringer_Tee_img_00000023         shirt               0
22      1981_Graphic_Ringer_Tee_img_00000024         shirt               0
23      1981_Graphic_Ringer_Tee_img_00000025         shirt               0
24      1981_Graphic_Ringer_Tee_img_00000026         shirt               0
25      1981_Graphic_Ringer_Tee_img_00000027         shirt               0
26      1981_Graphic_Ringer_Tee_img_00000028         shirt               0
27      1981_Graphic_Ringer_Tee_img_00000029         shirt               0
28      1981_Graphic_Ringer_Tee_img_00000030         shirt               0
29      1981_Graphic_Ringer_Tee_img_00000031         shirt               0
...                                      ...           ...             ...
241412        Zip_Paneled_Skirt_img_00000017         skirt               8
241413        Zip_Paneled_Skirt_img_00000018         skirt               8
241414        Zip_Paneled_Skirt_img_00000019         skirt               8
241415        Zip_Paneled_Skirt_img_00000020         skirt               8
241416        Zip_Paneled_Skirt_img_00000021         skirt               8
241417        Zip_Paneled_Skirt_img_00000022         skirt               8
241418        Zip_Paneled_Skirt_img_00000023         skirt               8
241419        Zip_Paneled_Skirt_img_00000024         skirt               8
241420        Zip_Paneled_Skirt_img_00000025         skirt               8
241421        Zip_Paneled_Skirt_img_00000026         skirt               8
241422        Zip_Paneled_Skirt_img_00000027         skirt               8
241423        Zip_Paneled_Skirt_img_00000028         skirt               8
241424        Zip_Paneled_Skirt_img_00000029         skirt               8
241425        Zip_Paneled_Skirt_img_00000030         skirt               8
241426        Zip_Paneled_Skirt_img_00000031         skirt               8
241427        Zip_Paneled_Skirt_img_00000032         skirt               8
241428        Zip_Paneled_Skirt_img_00000033         skirt               8
241429        Zip_Paneled_Skirt_img_00000034         skirt               8
241430        Zip_Paneled_Skirt_img_00000035         skirt               8
241431        Zip_Paneled_Skirt_img_00000036         skirt               8
241432        Zip_Paneled_Skirt_img_00000038         skirt               8
241433        Zip_Paneled_Skirt_img_00000039         skirt               8
241434        Zip_Paneled_Skirt_img_00000040         skirt               8
241435        Zip_Paneled_Skirt_img_00000041         skirt               8
241436        Zip_Paneled_Skirt_img_00000042         skirt               8
241437        Zip_Paneled_Skirt_img_00000043         skirt               8
241438        Zip_Paneled_Skirt_img_00000044         skirt               8
241439        Zip_Paneled_Skirt_img_00000045         skirt               8
241440        Zip_Paneled_Skirt_img_00000046         skirt               8
241441        Zip_Paneled_Skirt_img_00000047         skirt               8

        short  striped  dotted  summer  no sleeves  long sleeves  floral  \
0          -1       -1      -1      -1          -1            -1      -1
1          -1       -1      -1      -1          -1            -1      -1
2          -1        1      -1      -1          -1            -1      -1
3          -1       -1      -1      -1          -1            -1      -1
4          -1       -1      -1      -1          -1            -1      -1
5          -1       -1      -1      -1          -1            -1      -1
6          -1       -1      -1      -1          -1            -1      -1
7          -1       -1      -1      -1          -1            -1      -1
8          -1       -1      -1      -1          -1            -1      -1
9          -1       -1      -1      -1          -1            -1      -1
10         -1        1      -1      -1          -1            -1      -1
11         -1        1      -1      -1          -1            -1      -1
12         -1       -1      -1      -1          -1            -1      -1
13         -1        1      -1      -1          -1            -1      -1
14         -1       -1      -1      -1          -1            -1      -1
15         -1       -1      -1      -1          -1            -1      -1
16         -1       -1      -1      -1          -1            -1      -1
17         -1        1      -1      -1          -1            -1      -1
18         -1        1      -1      -1          -1            -1      -1
19         -1       -1      -1      -1          -1            -1      -1
20         -1       -1      -1      -1          -1            -1      -1
21         -1       -1      -1      -1          -1            -1      -1
22         -1       -1      -1      -1          -1            -1      -1
23         -1       -1      -1      -1          -1            -1      -1
24         -1       -1      -1      -1          -1            -1      -1
25         -1       -1      -1      -1          -1            -1      -1
26         -1       -1      -1      -1          -1            -1      -1
27         -1       -1      -1      -1          -1            -1      -1
28         -1       -1      -1      -1          -1            -1      -1
29         -1       -1      -1      -1          -1            -1      -1
...       ...      ...     ...     ...         ...           ...     ...
241412     -1       -1      -1      -1          -1            -1      -1
241413     -1       -1      -1      -1          -1            -1      -1
241414     -1       -1      -1      -1          -1            -1      -1
241415     -1       -1      -1      -1          -1            -1      -1
241416     -1       -1      -1      -1          -1            -1      -1
241417     -1       -1      -1      -1          -1            -1      -1
241418     -1       -1      -1      -1          -1            -1      -1
241419     -1       -1      -1      -1          -1            -1      -1
241420     -1       -1      -1      -1          -1            -1      -1
241421      1       -1      -1      -1          -1            -1      -1
241422     -1       -1      -1      -1          -1            -1      -1
241423      1        1      -1      -1          -1            -1      -1
241424     -1       -1      -1      -1          -1            -1      -1
241425     -1       -1      -1      -1           1            -1      -1
241426      1       -1      -1      -1          -1            -1      -1
241427     -1       -1      -1      -1          -1            -1      -1
241428     -1       -1      -1      -1           1            -1      -1
241429      1       -1      -1      -1          -1            -1      -1
241430     -1       -1      -1      -1          -1            -1      -1
241431     -1       -1      -1      -1          -1            -1      -1
241432     -1       -1      -1      -1          -1            -1      -1
241433     -1       -1      -1      -1          -1            -1      -1
241434     -1       -1      -1      -1          -1            -1      -1
241435     -1       -1      -1      -1          -1            -1      -1
241436     -1       -1      -1      -1          -1            -1      -1
241437      1       -1      -1      -1          -1            -1      -1
241438     -1       -1      -1      -1          -1            -1      -1
241439     -1        1      -1      -1          -1            -1      -1
241440     -1        1      -1      -1          -1            -1      -1
241441     -1       -1      -1      -1          -1            -1      -1

        checker
0            -1
1            -1
2            -1
3            -1
4            -1
5            -1
6            -1
7            -1
8            -1
9            -1
10           -1
11           -1
12           -1
13           -1
14           -1
15           -1
16           -1
17           -1
18           -1
19           -1
20           -1
21           -1
22           -1
23           -1
24           -1
25           -1
26           -1
27           -1
28           -1
29           -1
...         ...
241412       -1
241413       -1
241414       -1
241415       -1
241416       -1
241417       -1
241418       -1
241419       -1
241420       -1
241421       -1
241422       -1
241423       -1
241424       -1
241425       -1
241426       -1
241427       -1
241428       -1
241429       -1
241430       -1
241431       -1
241432       -1
241433       -1
241434       -1
241435       -1
241436       -1
241437       -1
241438       -1
241439       -1
241440       -1
241441       -1

[241442 rows x 11 columns]>

,image_name,category_name,category_label,short,striped,dotted,summer,no sleeves,long sleeves,floral,checker
12,1981_Graphic_Ringer_Tee_img_00000014,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1
13,1981_Graphic_Ringer_Tee_img_00000015,shirt,0,-1,1,-1,-1,-1,-1,-1,-1
14,1981_Graphic_Ringer_Tee_img_00000016,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1

In [376]:
#final.csv
file_name = "final.csv"
df_final.to_csv("./Anno/changed/etri/"+file_name, index=None)