In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import random

In [2]:
df_dropped_attr_category_combined = pd.read_csv('./Anno/changed/etri/dropped_attr_category_combined.csv')

In [3]:
df_final= pd.read_csv('./Anno/changed/etri/final.csv')

In [30]:
df_attr_category_combined = pd.read_csv('./Anno/changed/etri/attr_category_combined.csv')

In [5]:
df_skirt_attr_combined = pd.read_csv('./Anno/changed/etri/skirt_attr_combined.csv')

In [6]:
df_pants_attr_combined = pd.read_csv('./Anno/changed/etri/pants_attr_combined.csv')

In [7]:
def plotRandomImage(attribute, img_num, df):
    print(attribute+'attribute')
    img_files = []
    dict_imgs = dict(zip(df.loc[df[attribute] == 1]['image_name'], df.loc[df[attribute] == 1]['category_name']))
    print(str(len(dict_imgs))+' images')
    lst_rand_imgs = random.sample(list(dict_imgs.items()), img_num)
    
    for tuple_img in lst_rand_imgs:
        img=mpimg.imread('./'+tuple_img[1]+'/'+tuple_img[0]+'.jpg')
        img_files.append(img)
    
    col_num = 4
    row_num = ((img_num // col_num)+1) if (img_num % col_num) != 0 else (img_num // col_num)
    
    fig, axes = plt.subplots(nrows=row_num, ncols=col_num, figsize=(20,20))
    
    for idx, img_file in enumerate(img_files):
        row = idx // col_num
        col = idx % col_num
        
        axes[row, col].axis("off")
        axes[row, col].imshow(img_file, cmap="gray", aspect="auto")

    plt.subplots_adjust(wspace=.05, hspace=.05)

    plt.show()

In [93]:
[col for col in df_skirt_attr_combined if 'long' in col]

['knit longline ',
 'long sleeve ',
 'long-sleeve ',
 'long-sleeved ',
 'longline ',
 'longline shirt ']

In [9]:
[col for col in df_pants_attr_combined if 'long' in col]

['knit longline ',
 'long sleeve ',
 'long-sleeve ',
 'long-sleeved ',
 'longline ',
 'longline shirt ']

In [97]:
#plotRandomImage( 'longline shirt ', 28, df_skirt_attr_combined) #not

In [12]:
#plotRandomImage( 'longline ', 8,df_pants_attr_combined) #no

In [13]:
[col for col in df_dropped_attr_category_combined if 'print' in col]

['abstract chevron print ',
 'abstract geo print ',
 'abstract print ',
 'abstract printed ',
 'animal print ',
 'bandana print ',
 'baroque print ',
 'bird print ',
 'botanical print ',
 'brushstroke print ',
 'butterfly print ',
 'chevron print ',
 'daisy print ',
 'diamond print ',
 'elephant print ',
 'folk print ',
 'geo print ',
 'giraffe print ',
 'grid print ',
 'heart print ',
 'ikat print ',
 'kaleidoscope print ',
 'lace print ',
 'leaf print ',
 'leopard print ',
 'mandala print ',
 'marble print ',
 'medallion print ',
 'mixed print ',
 'mosaic print ',
 'ornate print ',
 'paisley print ',
 'palm print ',
 'print ',
 'print racerback ',
 'print satin ',
 'print scuba ',
 'print shift ',
 'print shirt ',
 'print skater ',
 'print smock ',
 'print smocked ',
 'print strapless ',
 'print strappy ',
 'print surplice ',
 'print tulip ',
 'print v-neck ',
 'print woven ',
 'printed ',
 'southwestern-print ']

In [14]:
#plotRandomImage( 'print ', 28, df_dropped_attr_category_combined)

## others(print)

In [15]:
#plotRandomImage( 'abstract chevron print ', 28, df_dropped_attr_category_combined)

In [16]:
#plotRandomImage( 'mixed print ', 28, df_dropped_attr_category_combined)

In [17]:
df_attr_category_combined.head()

,image_name,category_name,category_label,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [18]:
len( set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_final['floral'] == 1]['image_name']))

7309

In [19]:
len( set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_final['striped'] == 1]['image_name']))

1052

In [20]:
len( set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_final['dotted'] == 1]['image_name']))

548

In [21]:
len( set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_final['checker'] == 1]['image_name']))

53

In [22]:
len(set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name']))

29160

In [23]:
len(df_attr_category_combined.loc[df_attr_category_combined['printed '] == 1])

5287

In [24]:
len(set(df_attr_category_combined.loc[df_attr_category_combined['print '] == 1]['image_name'])& set(df_attr_category_combined.loc[df_attr_category_combined['printed '] == 1]['image_name']))

838

In [25]:
df_final.head()

,image_name,category_name,category_label,striped,floral,dotted,checker,summer,no sleeves,long sleeves
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,1,-1,-1,-1,-1,-1

In [26]:
#plotRandomImage( 'print ', 28,(df_dropped_attr_category_combined.loc[df_dropped_attr_category_combined['print '] == 1]) )

## floral

In [27]:
#plotRandomImage( 'daisy print ', 28, df_dropped_attr_category_combined)

In [28]:
[col for col in df_dropped_attr_category_combined if 'rose' in col]

['rose ', 'rose skater ', 'roses ']

In [29]:
#plotRandomImage( 'botanical print ', 28, df_dropped_attr_category_combined)

In [30]:
#plotRandomImage( 'rose ', 28, df_dropped_attr_category_combined)

In [31]:
#plotRandomImage( 'roses ', 28, df_dropped_attr_category_combined)

In [32]:
#plotRandomImage( 'rose skater ', 6, df_dropped_attr_category_combined)

In [33]:
#plotRandomImage( 'print tulip ', 28, df_dropped_attr_category_combined)

In [34]:
#plotRandomImage( 'botanical ', 28, df_dropped_attr_category_combined)

## checker

In [35]:
#plotRandomImage( 'checker', 28, df_dropped_attr_category_combined)

In [36]:
#plotRandomImage( 'grid print ', 28, df_dropped_attr_category_combined)

In [37]:
#plotRandomImage( 'grid ', 28, df_dropped_attr_category_combined)

## long

In [98]:
[col for col in df_skirt_attr_combined if 'maxi' in col]

['belted maxi ',
 'cami maxi ',
 'chiffon maxi ',
 'combo maxi ',
 'crochet maxi ',
 'cutout maxi ',
 'embroidered maxi ',
 'floral maxi ',
 'flounce maxi ',
 'gauze maxi ',
 'high-slit maxi ',
 'hooded maxi ',
 'knit maxi ',
 'lace maxi ',
 'm-slit maxi ',
 'maxi ']

In [39]:
[col for col in df_pants_attr_combined if 'maxi' in col]

['belted maxi ',
 'cami maxi ',
 'chiffon maxi ',
 'combo maxi ',
 'crochet maxi ',
 'cutout maxi ',
 'embroidered maxi ',
 'floral maxi ',
 'flounce maxi ',
 'gauze maxi ',
 'high-slit maxi ',
 'hooded maxi ',
 'knit maxi ',
 'lace maxi ',
 'm-slit maxi ',
 'maxi ']

In [163]:
#plotRandomImage( 'big ', 21, df_skirt_attr_combined) #no

In [160]:
#plotRandomImage( 'maxi ', 28, df_skirt_attr_combined)

In [159]:
#plotRandomImage( 'longline ', 17,df_skirt_attr_combined)

In [158]:
#plotRandomImage( 'chiffon maxi ', 28,df_skirt_attr_combined)

In [156]:
#plotRandomImage( 'belted maxi ', 28,df_skirt_attr_combined)

In [154]:
#plotRandomImage( 'cami maxi ', 28,df_skirt_attr_combined) #no

In [152]:
#plotRandomImage( 'combo maxi ', 28,df_skirt_attr_combined)

In [150]:
#plotRandomImage( 'crochet maxi ', 7,df_skirt_attr_combined)

In [149]:
#plotRandomImage( 'cutout maxi ', 4, df_skirt_attr_combined)

In [147]:
#plotRandomImage( 'embroidered maxi ', 2,df_skirt_attr_combined)

In [145]:
#plotRandomImage( 'floral maxi ', 28,df_skirt_attr_combined)

In [144]:
#plotRandomImage( 'flounce maxi ', 28,df_skirt_attr_combined)

In [143]:
#plotRandomImage( 'gauze maxi ', 11,df_skirt_attr_combined)

In [142]:
#plotRandomImage( 'high-slit maxi ', 8,df_skirt_attr_combined)

In [138]:
#plotRandomImage( 'hooded maxi ', 28,df_skirt_attr_combined) #no

In [139]:
#plotRandomImage( 'knit maxi ', 28,df_skirt_attr_combined)

In [140]:
#plotRandomImage( 'lace maxi ', 28,df_skirt_attr_combined)

In [141]:
#plotRandomImage( 'm-slit maxi ', 28,df_skirt_attr_combined)

In [8]:
df_skirt_attr_combined_temp = df_skirt_attr_combined.iloc[:, :3]

In [9]:
df_skirt_attr_combined_temp.head()

,image_name,category_name,category_label
0,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8
1,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8
2,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8
3,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8
4,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8

In [10]:
lst_long_skirt = ['belted maxi ',
 'chiffon maxi ',
 'combo maxi ',
 'crochet maxi ',
 'cutout maxi ',
 'embroidered maxi ',
 'floral maxi ',
 'flounce maxi ',
 'gauze maxi ',
 'high-slit maxi ',
 'knit maxi ',
 'lace maxi ',
 'm-slit maxi ',
 'maxi ', 'longline ']

In [11]:
if 'temp' in df_skirt_attr_combined:
    df_skirt_attr_combined = df_skirt_attr_combined.drop(['temp'], axis=1)
    
df_skirt_attr_combined.insert(loc=0,
                              column='temp',
                              value=((df_skirt_attr_combined[lst_long_skirt[0]] == 1) | (df_skirt_attr_combined[lst_long_skirt[1]] == 1)).astype(int).replace(0, -1)
                             )

#print(set((df_skirt_attr_combined['temp'] == 1)))

for i in range(2,len(lst_long_skirt)):
    df_skirt_attr_combined['temp'] = ((df_skirt_attr_combined['temp'] == 1) | (df_skirt_attr_combined[lst_long_skirt[i]] == 1)).astype(int).replace(0, -1)
    #print(set((df_skirt_attr_combined['temp'] == 1)))

df_skirt_attr_combined_temp.insert(loc = 2,column='long', value= (df_skirt_attr_combined['temp']))

df_skirt_attr_combined = df_skirt_attr_combined.drop(['temp'], axis=1)

In [12]:
df_skirt_attr_combined_temp.head()

,image_name,category_name,long,category_label
0,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,-1,8
1,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,-1,8
2,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,-1,8
3,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,1,8
4,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,-1,8

In [41]:
df_attr_category_combined.drop(['long'], axis=1, inplace=True)

In [42]:
df_attr_category_combined.insert(3, 'long',np.NaN )

In [43]:
df_attr_category_combined.head()

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [34]:
set_long_name=set(df_skirt_attr_combined_temp.loc[df_skirt_attr_combined_temp['long'] == 1]['image_name'])

In [109]:
for i,img_name in enumerate(df_attr_category_combined['image_name']):
    #print(i)
    if img_name in set_long_name:
        #print(img_name)
        #print(df_attr_category_combined.index[i])
        #(df_attr_category_combined.loc[df_attr_category_combined['image_name'] == img_name]['long']) = 1
        df_attr_category_combined.loc[i,'long'] = int('1')

In [110]:
df_attr_category_combined.loc[df_attr_category_combined['image_name'] == 'Abstract_Brushstroke_Print_Pencil_Skirt_img_00000004']

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
230526,Abstract_Brushstroke_Print_Pencil_Skirt_img_00...,skirt,8,1.0,1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [112]:
df_attr_category_combined.head()

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,NaN,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [113]:
df_attr_category_combined.fillna(value = -1, inplace = True)

In [114]:
df_attr_category_combined.head()

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1.0,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [115]:
df_attr_category_combined['long'] = df_attr_category_combined['long'].astype(int)

In [116]:
df_attr_category_combined.head()

,image_name,category_name,category_label,long,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

## short

In [166]:
df_attr_category_combined_temp = df_attr_category_combined

In [167]:
df_attr_category_combined_temp.set_index('image_name', inplace= True)

In [66]:
lst_short = df_attr_category_combined.filter(like='Shorts', axis=0).index.tolist()

In [67]:
lst_short.append(df_attr_category_combined.filter(like='shorts', axis=0).index.tolist())
lst_short.append(df_attr_category_combined.filter(like='Trunk', axis=0).index.tolist())

In [68]:
len(lst_short)

3308

In [69]:
df_short = df_attr_category_combined_temp[df_attr_category_combined_temp.index.isin(lst_short)]

In [70]:
df_short.insert(2,  'short', value=1)

In [71]:
df_short.head()

,category_name,category_label,short,a-line,abstract,abstract chevron,abstract chevron print,abstract diamond,abstract floral,abstract floral print,...,zeppelin,zig,zigzag,zip,zip-front,zip-pocket,zip-up,zipped,zipper,zippered
image_name,,,,,,,,,,,,,,,,,,,,,
Baroque_Print_Drawstring_Shorts_img_00000001,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000002,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000003,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000005,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
Baroque_Print_Drawstring_Shorts_img_00000007,pants,7,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [72]:
df_short.reset_index(inplace=True)

In [73]:
df_attr_category_combined_temp.reset_index(inplace=True)

In [74]:
df_attr_category_combined = df_attr_category_combined_temp.merge(df_short, how='outer')

In [75]:
df_attr_category_combined['short'].fillna(value = -1, inplace = True)

In [76]:
df_attr_category_combined['short'] = df_attr_category_combined['short'].astype(int)

In [77]:
[col for col in df_dress_attr_combined if 'mini' in col]

['faux leather mini ',
 'floral lace mini ',
 'floral mini ',
 'knit mini ',
 'lace mini ',
 'leather mini ',
 'mini ']

In [ ]:
# plotRandomImage( 'faux leather mini ', 28,df_dress_attr_combined) #NO

In [ ]:
#plotRandomImage( 'floral lace mini ', 28,df_dress_attr_combined) #NO

In [ ]:
#plotRandomImage( 'floral mini ', 28,df_dress_attr_combined) #NO

In [ ]:
#plotRandomImage( 'knit mini ', 28,df_dress_attr_combined) #NO

In [ ]:
#plotRandomImage( 'lace mini ', 28,df_dress_attr_combined)

In [ ]:
#plotRandomImage( 'leather mini ', 28,df_dress_attr_combined)

In [ ]:
#plotRandomImage( 'mini ', 28,df_dress_attr_combined)

## Merge

In [79]:
df_final_temp = df_attr_category_combined.iloc[:,:3]

In [80]:
df_final_temp.head()

                             image_name category_name  category_label
0  1981_Graphic_Ringer_Tee_img_00000001         shirt               0
1  1981_Graphic_Ringer_Tee_img_00000002         shirt               0
2  1981_Graphic_Ringer_Tee_img_00000003         shirt               0
3  1981_Graphic_Ringer_Tee_img_00000004         shirt               0
4  1981_Graphic_Ringer_Tee_img_00000005         shirt               0

In [81]:
def mergeColumns(col1, col2) :
    return ((df_attr_category_combined[col1] == 1) | (df_attr_category_combined[col2] == 1)).astype(int).replace(0, -1)

In [82]:
def addMergedMultipleColumns(lst_attr, merged_col):
    
    global df_attr_category_combined
    
    if 'temp' in df_attr_category_combined:
        df_attr_category_combined = df_attr_category_combined.drop(['temp'], axis=1)
    
    df_attr_category_combined.insert(loc=0, column='temp', value=mergeColumns(lst_attr[0], lst_attr[1]))

    for i in range(2,len(lst_attr)):
        df_attr_category_combined['temp'] = mergeColumns('temp', lst_attr[i])
    
    df_final_temp.insert(loc = 3,column=merged_col, value=df_attr_category_combined['temp'])
    
    df_attr_category_combined = df_attr_category_combined.drop(['temp'], axis=1)

In [83]:
def mergeMultipleColumns(lst_attr, merged_col):

    global df_attr_category_combined

    if 'temp' in df_attr_category_combined:
        df_attr_category_combined = df_attr_category_combined.drop(['temp'], axis=1)
 
    df_attr_category_combined.insert(loc=0, column='temp', value=mergeColumns(lst_attr[0], lst_attr[1]))

    for i in range(2,len(lst_attr)):
        df_attr_category_combined['temp'] = mergeColumns('temp', lst_attr[i])
    
    df_final.insert(loc = 3,column=merged_col, value=df_attr_category_combined['temp'])
    
    df_attr_category_combined = df_attr_category_combined.drop(['temp'], axis=1)

## New columns

#### long

In [373]:
#lst_long = []
#mergeMultipleColumns(lst_long, 'long')

#### short

In [84]:
lst_short = ['lace mini ', 'leather mini ', 'mini ', 'short']
mergeMultipleColumns(lst_short, 'short')

#### floral

In [85]:
lst_floral = ['daisy print ', 'botanical print ', 'rose ', 'roses ', 'rose skater ', 'print tulip ', 'botanical ']
addMergedMultipleColumns(lst_floral, 'floral')

#### checker

In [86]:
lst_checker = ['grid print ','grid ']
addMergedMultipleColumns(lst_checker, 'checker')

## Adding existing columns

In [87]:
df_final.drop(['checker', 'floral'], axis=1, inplace= True)

In [88]:
df_final['floral'], df_final['checker'] = [df_final_temp['floral'], df_final_temp['checker']]

In [89]:
df_final.head()

,image_name,category_name,category_label,short,striped,dotted,summer,no sleeves,long sleeves,floral,checker
0,1981_Graphic_Ringer_Tee_img_00000001,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1
1,1981_Graphic_Ringer_Tee_img_00000002,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1
2,1981_Graphic_Ringer_Tee_img_00000003,shirt,0,-1,1,-1,-1,-1,-1,-1,-1
3,1981_Graphic_Ringer_Tee_img_00000004,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1
4,1981_Graphic_Ringer_Tee_img_00000005,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1

In [ ]:
df_final.groupby

,image_name,category_name,category_label,short,striped,dotted,summer,no sleeves,long sleeves,floral,checker
12,1981_Graphic_Ringer_Tee_img_00000014,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1
13,1981_Graphic_Ringer_Tee_img_00000015,shirt,0,-1,1,-1,-1,-1,-1,-1,-1
14,1981_Graphic_Ringer_Tee_img_00000016,shirt,0,-1,-1,-1,-1,-1,-1,-1,-1